.container{
  width: 100vw;
}

.header{
  width: 100%;
  padding: 0 3%;
}

.navbar{
  width: 100%;
  padding: 0 3%;
  margin-top: 2%;
}

.text_div{
  width: 100%;
  padding: 0 3%;
  margin-top: 3%;
  display: flex;
  gap: 10px;
  font-size: 22px;
  cursor: pointer;
}

.card_container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5% 5%;
  cursor: pointer;
 
}
.body{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 100%;
  padding: 0 3%;
  margin-top: 2%;
  gap: 20px;
}


.btn{
  background-color: #FFEDD8;
  color: #FC8A06;
  padding: 2% 10%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.address_body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.edit_container{
  display: flex;
  color: #FC8A06;
  gap: 10px;
  margin-top: 20px;
}

.footer{
  margin-top: 10%;

}