.container{
  width: 100vw;
  height: 100vh;
}

.top{
  height: 65%;
  width: 100%;
  display: flex;
}
.left{
  width: 50%;
  height: 100%;
  margin-top: 1%;
}
.right{
  height: 100%;
  flex: 1;
  padding: 1% 2%;

 

}

.img{
  height: 100%;
  width: 100%;
  
}
.footer{
  height: 35%;
}
